* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
	}

#wrapper {

}

#pokemon {
  width: 900px;
  display:inline-block;
  background-color: green;
}

#pokedex {
  display:inline-block;
  width: 200px;
  height: 500px;
  border: 6px solid red;
  position: fixed;
}

h1 {
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  margin-top: 20px;
}
#pokedex img{
  margin-left: 35px;
}

h4, p, ul {
	margin-left: 20px;
}
h4 {
	font-weight: bolder;
}
li, p {
	margin-left: 20px;
}
